@import "./settings/settings";

@import "../../custom/base";

@import "./components/header";
@import "./components/axis";
@import "./components/credit";
@import "./components/tips";

@import "./types/line";
@import "./types/multiline";
@import "./types/area";
@import "./types/bar";
@import "./types/pie";
@import "./types/stream";
@import "./types/column";

// @import "debug";

.#{$prefix}bg {
	fill: $white;
}

.#{$prefix}chart_svg {
  display: block;
}

.#{$prefix}chart {
  width: $width;
  height: auto;
  background-color: $white;
  margin: $margin;
  @include utility-font;
}

.#{$prefix}thumbnail {
  width: 100%;
}

@import "../../custom/custom.scss";
