.ct-chart_svg {
  background: transparent;
}

//.chart-export, .chart-thumbnail, .canvas-container {
//  background-color: #f4f3f3 !important;
//}

.ct-bg {
  fill: none;
}

g.ct-x-axis text{
  font-family: "t26-carbon",  monospace;
  font-weight: 400;
  fill: #656161;
  -moz-font-feature-settings:"smcp" 1, "pnum" 1, "zero" 1, "kern" 1, "liga" 1;
  -ms-font-feature-settings:"smcp" 1, "pnum" 1, "zero" 1, "kern" 1, "liga" 1;
  -o-font-feature-settings:"smcp" 1, "pnum" 1, "zero" 1, "kern" 1, "liga" 1;
  -webkit-font-feature-settings:"smcp" 1, "pnum" 1, "zero" 1, "kern" 1, "liga" 1;
  font-feature-settings:"smcp" 1, "pnum" 1, "zero" 1, "kern" 1, "liga" 1;
}

g.ct-y-axis text{
  font-family: "t26-carbon",  monospace;
  font-weight: 400;
  fill: #656161;
  -moz-font-feature-settings:"smcp" 1, "pnum" 1, "zero" 1, "kern" 1, "liga" 1;
  -ms-font-feature-settings:"smcp" 1, "pnum" 1, "zero" 1, "kern" 1, "liga" 1;
  -o-font-feature-settings:"smcp" 1, "pnum" 1, "zero" 1, "kern" 1, "liga" 1;
  -webkit-font-feature-settings:"smcp" 1, "pnum" 1, "zero" 1, "kern" 1, "liga" 1;
  font-feature-settings:"smcp" 1, "pnum" 1, "zero" 1, "kern" 1, "liga" 1;
}

.ct-type_bar {
  g.ct-y-axis text {
    font-family: "din-2014", sans-serif;
  }

  .ct-series_group text{
    font-family: "t26-carbon",  monospace;
    font-weight: 400;
    -moz-font-feature-settings:"smcp" 1, "pnum" 1, "zero" 1, "kern" 1, "liga" 1;
    -ms-font-feature-settings:"smcp" 1, "pnum" 1, "zero" 1, "kern" 1, "liga" 1;
    -o-font-feature-settings:"smcp" 1, "pnum" 1, "zero" 1, "kern" 1, "liga" 1;
    -webkit-font-feature-settings:"smcp" 1, "pnum" 1, "zero" 1, "kern" 1, "liga" 1;
    font-feature-settings:"smcp" 1, "pnum" 1, "zero" 1, "kern" 1, "liga" 1;
  }
}

.ct-type_bar .ct-xAxis .ct-minor line, .ct-yAxis .ct-minor line {
  stroke: #e0e0e5;
  shape-rendering: crispEdges;
}


text.ct-chart_qualifier-text-bg {
  stroke-width: 10px;
}

text.ct-chart_qualifier-text, .ct-chart_qualifier {
  font-weight: 300;
  fill: #414141;
  color: #414141;
  letter-spacing: 0.03rem;
}
.ct-yAxis g.tick line, .ct-xAxis g.tick line {
  stroke: #e0e2e6;
  shape-rendering: crispEdges;
}

.domain {
  fill:#999;
}

.ct-zero-line {
  stroke: #515158;
}

.ct-chart_legend {
  font-size: 14px;
  margin-top: 0.6rem;
}

.ct-chart_legend .ct-legend_item, .ct-tip_text {
  font-family: "t26-carbon",  monospace;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
}

.ct-chart_source-text {
  letter-spacing: 0.03rem;
  color: #656161
}
