.ct-chart_svg {
  background: transparent;
}

.chart-export, .chart-thumbnail, .canvas-container {
  background-color: #F3F4F2 !important;
}

.ct-bg {
  fill: none;
}

g.ct-x-axis text{
  font-family: "t26-carbon","ff-chambers-sans-web", "t26-carbon",  monospace;
  font-weight: 200;
  fill: $color-gray-dark;
  -moz-font-feature-settings:"pnum" 1, "zero" 1, "kern" 1, "liga" 1;
  -ms-font-feature-settings:"pnum" 1, "zero" 1, "kern" 1, "liga" 1;
  -o-font-feature-settings:"pnum" 1, "zero" 1, "kern" 1, "liga" 1;
  -webkit-font-feature-settings:"onum" 1, "zero" 1, "kern" 1, "liga" 1;
  font-feature-settings:"lnum" 1, "zero" 1, "kern" 1, "liga" 1;
}

g.ct-y-axis text{
  font-family: "t26-carbon","ff-chambers-sans-web", "t26-carbon",  monospace;
  font-weight: 200;
  fill: $color-gray-dark;
  -moz-font-feature-settings:"pnum" 1, "zero" 0, "kern" 1, "liga" 1;
  -ms-font-feature-settings:"pnum" 1, "zero" 0, "kern" 1, "liga" 1;
  -o-font-feature-settings:"pnum" 1, "zero" 0, "kern" 1, "liga" 1;
  -webkit-font-feature-settings:"pnum" 1, "zero" 0, "kern" 1, "liga" 1;
  font-feature-settings:"tnum" 1, "zero" 0, "kern" 1, "liga" 1;
}

.ct-type_bar {
  g.ct-y-axis text {
    font-family: "adelle-sans", sans-serif;
    line-height: 1.1;
  }

  .ct-series_group text{
    font-family: "t26-carbon",  monospace;
    font-weight: 300;
    -moz-font-feature-settings:"smcp" 1, "pnum" 1, "zero" 1, "kern" 1, "liga" 1;
    -ms-font-feature-settings:"smcp" 1, "pnum" 1, "zero" 1, "kern" 1, "liga" 1;
    -o-font-feature-settings:"smcp" 1, "pnum" 1, "zero" 1, "kern" 1, "liga" 1;
    -webkit-font-feature-settings:"smcp" 1, "pnum" 1, "zero" 1, "kern" 1, "liga" 1;
    font-feature-settings:"smcp" 1, "pnum" 1, "zero" 1, "kern" 1, "liga" 1;
  }
}

// AREA CHART STYLES

.ct-type_area {
  .ct-axis-group{
    line{
      opacity: 0.4;
    }
  }

  .ct-series_group {
    .ct-fill {
      opacity: 0.85;
    }
  }

}

.ct-type_bar .ct-xAxis .ct-minor line, .ct-yAxis .ct-minor line {
  stroke: #EBECEB;
  shape-rendering: crispEdges;
}

text.ct-chart_qualifier-text-bg {
  stroke-width: 8px;
  font-weight: 300;
  letter-spacing: 0.06rem;
  font-style: normal;
  font-feature-settings: "c2sc", "smcp";
}

text.ct-chart_qualifier-text, .ct-chart_qualifier {
  font-weight: 300;
  font-style: normal;
  fill: $color-gray-medium;
  color: $color-gray-medium;
  letter-spacing: 0.06rem;
  font-feature-settings: "c2sc", "smcp";
}
.ct-yAxis g.tick line, .ct-xAxis g.tick line {
  stroke: #262B28;
  opacity: 0.08;
  shape-rendering: crispEdges;
}

.ct-annotation_range {
  fill: #262B28;
  opacity: 0.1;
}

.ct-annotation_range-line {
  opacity: 0.6;
}

.ct-pointer-handle-path, .ct-pointer-path {
  opacity: 1;
  stroke: $color-gray-dark;
}

#ct-arrow {
  fill: $color-gray-dark;
}

.ct-annotation_text, .ct-annotation_highlight-text {
  //text-shadow: 1px 1px 0px $color-white, -1px -1px 0px $color-white, -1px 1px 0px $color-white, 1px -1px 0px $color-white;
  font-weight: 600;
  stroke: $color-white;
  stroke-width: 1.8px;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: $color-gray-dark;
  paint-order: stroke fill;
}

.domain {
  fill:#999;
}

.ct-zero-line {
  stroke: #717878;
}

.ct-chart_legend {
  font-size: 13px;
  margin: 0.333rem 0;
}

// LEGEND STYLES

.ct-chart_legend {
  line-height: 18px;
}

.ct-chart_legend .ct-legend_item .ct-legend_item_icon {
  height: 10px;
  width: 10px;
  border-radius: 10px;
}

.ct-chart_legend .ct-legend_item, .ct-tip_text {
  font-weight: 300;
  font-size: 12px;
  color: #262B28;
  line-height: 16px;
  letter-spacing: 0;
  text-transform: capitalize;
}

.ct-chart_source-text {
  font-family: "adelle-sans", "lft-etica", "t26-carbon",  monospace;
  font-size: 12px;
  letter-spacing: 0.06rem;
  font-feature-settings: "c2sc", "smcp";
  color: #919995;
}
