$interface-font-light: "lft-etica", 'Din 2014', "Helvetica Neue", Helvetica, sans-serif;
$interface-font-regular: "lft-etica", 'Din 2014', "Helvetica Neue", Helvetica, sans-serif;
$interface-font-bold: "lft-etica", 'Din 2014', "Helvetica Neue", Helvetica, sans-serif;
$interface-font-black: "lft-etica", 'Din 2014', "Helvetica Neue", Helvetica, sans-serif;

@mixin interface-font-light {
  font-family: $interface-font-light;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}

@mixin interface-font-regular {
  font-family: $interface-font-regular;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}

@mixin interface-font-bold {
  font-family: $interface-font-bold;
  font-weight: 500;
  text-rendering: optimizeLegibility;
}

@mixin interface-font-black {
  font-family: $interface-font-black;
  font-weight: 600;
  text-rendering: optimizeLegibility;
}
